:root {
  --primary-color: #b89b90;
}
html {
  scroll-behavior: smooth;
}
.brand-logo h4 {
  display: inline;
  font-weight: bold;
}
.nav-wrapper .nav-cta {
  font-size: 1.31rem;
  font-style: italic;
  font-weight: lighter;
}
#appointment:hover {
  background: var(--primary-color) !important;
  color: white !important;
}

.brand-logo {
  color: var(--primary-color) !important;
}

@media only screen and (max-width: 600px) {
  .brand-logo {
    position: relative;
    right: 5px !important;
  }
}

.tabs-container {
  border: 1px solid lightgray;
}
.tab-hover:hover {
  color: var(--primary-color) !important;
  border-top: 1px solid var(--primary-color);
}

/* Carousel */
.carousel {
  background: var(--primary-color);
}
.carousel-item {
  position: relative;
}
.carousel-item-content {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  position: absolute;
  top: 10%;
  left: 20%;
}
.carousel-item-content .htags {
  font-weight: bold;
  margin: 10px 0;
}
.carousel-item .carousel-item-content p {
  margin: 20px 0;
  font-size: 2rem !important;
}
.carousel-content-p {
  border-left: 1px solid white;
}
.carousel-item-content #content-p {
  font-size: 1rem !important;
  padding-left: 10px;
}
.carousel-item-content a {
  margin: 20px 0;
}
.cat-img {
  max-width: 300px;
  height: auto;
  margin-bottom: 25px;
}
#categories {
  margin-top: 25px;
  padding: 10px 0;
}
.cat-content li p {
  margin-bottom: 25px;
}
.ther_img {
  width: 300px;
  height: 300px;
}
.parallax-container {
  display: flex;
  align-items: center;
  height: 350px;
}
.parallax-container h2 {
  font-size: 2.56rem !important;
}
.parallax-container a {
  margin: 25px 0;
}
#certificates-section,
#latest-blogs {
  padding: 32px 0;
  border-bottom: 1px solid lightgray;
}
#contact-section i {
  position: relative;
  top: 3px;
  right: 3px;
}
#contact-section {
  padding: 10px 0;
}
footer {
  background: #2d2d2d !important;
}
