@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* root styles */
* {
  box-sizing: border-box;
  --header-height: 70px;
  --primary-color: #f1c1c4;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

/* header styles */
header {
  background: var(--primary-color);
  padding: 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

header a {
  text-decoration: none;
  color: #fff;
}

#brand-name {
  font-family: 'Oleo Script', cursive;
  font-size: 2.25em;
}

#nav-links {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

#nav-links li {
  list-style-type: none;
  font-weight: 500;
  font-size: 1.25em;
  margin: 0 0.8em;
}

.header-icons a {
  margin-left: 1.5em;
}

#arrow_down_icon {
  position: relative;
  top: -1px;
  left: 3px;
}

#collapsable-menu {
  width: 100%;
  background: #D8ADB0;
  padding: 0 10px;
  display: none;
  justify-content: space-between;
  margin: 10px 0;
}

#collapsable-menu h3 {
  color: white;
  margin: 10px 0;
}

#collapsable-menu img {
  width: 32px;
  height: auto;
}

/* dropdown menu styles  */
#dropdown-menu {
  position: relative;
}

#dropdown-content {
  display: none;
  position: absolute;
  top: 50px;
  background: #fff; 
  padding: 25px 0;
  font-size: 1.125rem;
  width: 654px;
  font-weight: 300;
}

#dropdown-list {
  display: flex;
  justify-content: space-around;
}

.col .col-item {
  margin-bottom: 12px;
}

.col-item img {
  width: 20px;
  height: auto;
  margin-right: 10px;
}

#lipstick-icon {
  width: 15px;
  height: 20px;
}

#dropdown-cta {
  width: 90%;
  margin: auto;
  text-align: right;
}

#dropdown-cta button {
  border: none;
  background: var(--primary-color);
  color: white;
  padding: 10px;
  border-radius: 10px;
}

/* #presentation content styles */
#presentation {
  margin-top: var(--header-height);
  background-image: url("./assets/home_img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #333;
  height: 80vh;
  width: 100%;
  display: grid;
  place-items: center;
}

#presentation p {
  color: #fff;
  font-family: 'Oleo Script', cursive;
  font-size: 4rem;
  margin: 0;
  margin-bottom: 13px;
  text-align: center;
}

#search_box {
  display: grid;
  place-items: center;
}

#inputs {
  display: flex;
  max-width: 90%;
}

#search_box input, #find {
  padding: 0.5em;
  height: 52px;
  font-size: 1.125rem;
}

#vendor_box {
  max-width: 350px;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#city_box {
  width: 150px;
  border: none;
}

#find {
  width: 100px;
  background: var(--primary-color);
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  right: 9px;
}

#presentation #profile-icon {
  position: absolute;
  width: 150px;
  height: 150px;
  background: #c4c4c4;
  border-radius: 50%;
  bottom: -0.2%;
  left: 45%;
}

/* real-weddings section styles */
#real-weddings {
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  margin: 75px 0;
  padding: 0 25px;
  grid-column-gap: 20px;
}

#real-weddings img {
  width: 300px;
  height: auto;
  margin: 10px 0;
}

#real-weddings .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid lightgrey;
  border-top: none;
  box-shadow: 5px 5px 5px lightgrey;
  padding: 0 20px;
  margin-bottom: 10px;
}

#real-weddings .col .name, #real-weddings .col .location {
  margin: 10px 0;
}

#box {
  height: 100px;
}

#real-weddings .col-4 {
  border: none;
  box-shadow: none;
  width: 100%;
}

#real-weddings .col-4 form {
  width: 100%;
}

#fieldset legend {
  font-size: 1.875rem;
  color: var(--primary-color);
}

#fieldset {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--primary-color);
}

#fieldset select {
  height: 1.8rem;
  margin: 1em 0;
  border: none;
  border-bottom: 1px solid var(--primary-color);
}

#fieldset input[type="submit"], #extra_info button  {
  width: 5rem;
  padding: 7px 0;
  margin: auto;
  border: none;
  border-radius: 10px;
  background: var(--primary-color);
  color: #fff;
}

#extra_info {
  width: 100%;
}

/* media queries */
@media only screen and (max-width: 992px) {
  body {
    font-size: 13px;
  }
  header {
    flex-direction: column;
  }
  #collapsable-menu {
    display: flex;
  }
  #nav-links {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: stretch;
  }
  #nav-links li {
    border-bottom: 1px solid rgb(120 120 120 / 20%);
    margin: 0;
    padding: 10px;
  }
  #header-icons, #nav-links {
    margin: 10px 0; 
  }
  #presentation p {
    font-size: 2.5rem;
  }
  #inputs {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  #inputs input, #inputs button {
    border-radius: 10px;
    margin: 5px 0;
  }
  #presentation {
    margin-top: 160px;
  }
  #real-weddings {
    flex-direction: column;
  }
}